* {
  margin: 0;
  padding: 0;
}

/*event card page*/

.card-component {
  border-radius: 20px !important;
  border: 3px solid #fff;
}

.card-component > * {
  text-decoration: none;
  border-radius: 20px;
}

.card-component:hover {
  border-radius: 20px;
  border: 3px solid #2ed87b;
}

/*Event Categories*/
.category-home {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.nav-link {
  text-decoration: none;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  margin: 8px;
  border: 5px solid #fff;
  border-radius: 20px;
  transition: border 0.3s;
  width: 160px;
  height: 100px;
  box-shadow: 0 3px 3px #00000026;
  overflow: hidden; /* İçerik kutunun dışına taşarsa gizleyin */
}

.active {
  border: 5px solid #2ed87b;
}

.nav-link:hover {
  border: 5px solid #2ed87b;
}

.category-home li a {
  text-decoration: none;
  color: #2ed87b;
  font-size: 20px;
  font-weight: bold;
}

.truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Kaç satır gösterileceğini belirler */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 2.9em; /* Satır yüksekliğinin iki katı olmalıdır */
  line-height: 1.5em; /* Satır yüksekliğini ayarlar */
}

.truncate-1 {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

/* FOOTER ALANI */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  margin-left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #2581c2;
  color: white;
}

.fa-twitter {
  background: #2581c2;
  color: white;
}
.fa-youtube {
  background: #2581c2;
  color: white;
}

.fa-instagram {
  background: #2581c2;
  color: white;
}

h2 {
  color: #2ed87b;
}

.hover-link:hover {
  background-color: #2ed87b;
  border-radius: 20px;
}

.hide-paragraph {
  margin-top: 50px;
}

@media (max-width: 975px) {
  .grid-container {
    flex-direction: column;
  }

  .grid-item {
    flex: 1;
    font-size: 15px !important;
  }

  .fa {
    font-size: 15px !important;
  }

  .round-icon {
    border-radius: 10%;
  }

  .line {
    display: none;
  }

  .hide-paragraph {
    margin-top: 50px;
    display: none;
  }

  .containerStyle {
    display: flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 120px;
  }

  .columnStyle {
    font-size: 18px;
    width: 300px;
  }

  .linkStyle {
    font-size: 15px !important;
  }
}
